attrs==19.1.0
Automat==0.7.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cmake==3.14.4
constantly==15.1.0
cycler==0.10.0
decorator==4.4.0
h5py==2.10.0
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
incremental==17.5.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
matplotlib==3.1.1
moviepy==1.0.1
numpy==1.17.0
pandas==0.25.0
Pillow==9.0.1
proglog==0.1.9
protobuf==3.10.0
pycparser==2.19
PyHamcrest==1.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
scipy==1.3.0
seaborn==0.9.0
six==1.12.0
tensorboardX==1.9
torch==0.4.1
torchvision==0.4.0+cu92
tqdm==4.36.1
Twisted==19.7.0
urllib3==1.25.6
zope.interface==4.6.0
